@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200,300;400;500;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #dee1e2;
    overflow-x: hidden;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu {
    min-height: 90px;
}

.content {
    width: 56%;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 1px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.main-border {
    border-radius: 5px;
    background: #ececec;
    box-shadow: -3px -3px 5px rgba(255,255,255,.5), 3px 3px 5px #aaa9ad;
    padding-bottom: 10px;
}

.main h3 {
    color: #333;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.sides {
    width: 22%;
    margin: 5px;
    min-height: 100vh;
}

.container .content .main div {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.container .content .pagination {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.container .sides div {
    margin: 5px;
    min-height: 100px;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.pagination div {
    border: 0;
    min-height: 40px;
    background: #ffffff;
    border-radius: 10px;
}
  
.pagination a {
    color: black;
    float: left;
    margin-right: 1px;
    padding: 10px 16px;
    text-decoration: none;
}
  
.pagination a.active {
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
    color: white;
    border-radius: 10px;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 10px;
}

.container .content .search-box {
    min-height: 30px;    
}

.search-box input {
    text-indent: 15px;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -2px;
    padding: 10px;
    border: none;
    width: 500px;
}

.search-results {
    background: white;
    border-radius: 5px;
    color: gray;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
}

.container .content .search-btn {
    color: white;
    min-height: 15px;
    min-width: 60px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
    margin-left: 0;
    padding: 0 10px 0 10px;
    font-weight: 600;
    border: none;
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}

.container .content .search-btn:hover {
    cursor: pointer;
    color: gray;
}

.search-results:hover {
    cursor: pointer;
}

.table-footer h4 {
    font-size: 10px;
    font-weight: 200;
}

.built-in-filters {
    margin-top: 15px;
    margin-bottom: 15px;
}

.close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}

.close-icon:after {
    margin-left: -28px;
	content: "X";
	display: block;
	width: 14px;
	height: 15px;
	background-color: #F5F5F5;
	padding: 2px;
	border-radius: 50%;
	color: #333;
	font-weight: 600;
	font-size: 10px;
	box-shadow: 0 0 2px #D4D4D4;
	cursor: pointer;
}

.built-in-filters button {
    width: 130px;
    cursor: pointer;
}

.built-in-filters .on {
    background-color: #00b33c;
    border: none;
    color: #fff;
    padding: 5px 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: -3px -3px 5px rgba(255,255,255,.5),
    3px 3px 5px #00b33c;
}

.built-in-filters .off {
    background-color: #aaa9ad;
    border: none;
    color: #fff;
    padding: 5px 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: -3px -3px 5px rgba(255,255,255,.5),3px 3px 5px #aaa9ad;
}

.fa-info-circle {
    color: #00eaff;
    font-size: 20px;
    cursor: pointer;
}

.fa-star {
    font-size: 18px;
    cursor: pointer;
}

.fa-eye-slash {
    font-size: 18px;
    cursor: pointer;
}

.fa-eye {
    font-size: 18px;
    cursor: pointer;
}

.built-in-filters .off:hover {
    background-color: #d5d5d7;
    border: none;
    color: #fff;
    padding: 5px 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: -3px -3px 5px rgba(255,255,255,.5),
    3px 3px 5px #d5d5d7;
    transition: background 0.5s;
}

.built-in-filters .on:hover {
    background-color: #6fc276;
    border: none;
    color: #fff;
    padding: 5px 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: -3px -3px 5px rgba(255,255,255,.5),
    3px 3px 5px #6fc276;
    transition: background 0.5s;
}

.built-in-filters .off:hover span {
    display: none;
}

.built-in-filters .on:hover span {
    display: none;
}

.built-in-filters .off:hover::before {
    content: 'Aplicar filtro';
    transition: 1s;
}

.built-in-filters .on:hover::before {
    content: 'Remover Filtro';
}

.mkt {
    margin: 20px;
}

/* NAVBAR */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0,0,0,0.05);
}

.logo {
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.group {
    display: flex;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

header ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

header .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}

.searchBox {
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}

.searchBox.active {
    right: 0;
}

.searchBox input {
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: #333;
    font-size: 1.25em;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.searchBtn {
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}

.searchBtn.active {
    left: 0;
}

.closeBtn {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}

.closeBtn.active {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}

.menuToggle {
    position: relative;
    display: none;
}

/* responsive */
@media (max-width: 800px) {

    .searchBtn {
        left: 0;
    }

    .menuToggle {
        position: absolute;
        display: block;
        font-size: 2em;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }

    header .navigation {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 100%;
    }

    header.open .navigation {
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 40px;
        border-top: 1px solid rgba(0,0,0,0.05);
    }

    .hide {
        display: none;
    }

}
