<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test.css">
    <script defer src="script.js"></script>
    <title>tabelas</title>
</head>
<body>
    <div class="result">
        <div></div>
        <div class="result-top">
            <div class="result-title">
                <span class="result-name">
                    RESULTADO
                </span>
            </div>
            <div class="result-all-content">
                <div class="result-header">
                    <div class="valor-I">
                        <span class="valor-title">VALOR INICIAL:</span>
                        <span class="v">R$ 1.000,00</span>
                    </div>
                    <div class="valor-M">
                        <span class="valor-title">VALOR MENSAL:</span>
                        <span class="v">R$ 100,00</span>
                    </div>
                    <div class="taxa-J">
                        <span class="valor-title">TAXA JUROS:</span>
                        <span class="v">% 6,50</span>
                    </div>
                    <div class="valor-P">
                        <span class="valor-title">PERIODO:</span>
                        <span class="v">1 ANO</span>
                    </div>
                </div>
                <div class="result-content">
                    <div class="first-content">
                        <div class="square">
                            <div class="square-top-line1"></div>
                            <div class="total-value-div">
                                <span class="total-value">VALOR TOTAL INVESTIDO</span>
                            </div>
                            <div class="t-value-div">
                                <span class="t-value">R$ 2.200,00</span>
                            </div>
                        </div>
                        <div></div>
                        <div class="square">
                            <div class="square-top-line2"></div>
                            <div class="total-value-div">
                                <span class="total-value">VALOR TOTAL FINAL</span>
                            </div>
                            <div class="t-value-div">
                                <span class="t-value">R$ 2.300,34</span>
                            </div>
                        </div>
                        <div></div>
                        <div class="square">
                            <div class="square-top-line3"></div>
                            <div class="total-value-div">
                                <span class="total-value">TOTAL EM JUROS</span>
                            </div>
                            <div class="t-value-div">
                                <span class="t-value">R$ 100,34</span>
                            </div>
                        </div>
                    </div>
                    <div class="last-content">
                        <div class="last-content-header">
                            <div class="graphic selected">
                                <span class="graphic-title">GRAFICO 1:</span>
                            </div>
                            <div class="graphic border">
                                <span class="graphic-title">GRAFICO 2:</span>
                            </div>
                            <div class="graphic">
                                <span class="graphic-title">TABELA:</span>
                            </div>
                        </div>
                        <div class="pie-chart-content">
                                                        
                            <div class="pie-chart"></div>
                            <div class="pie-chart-description"></div>
                        </div>
                        <div class="pie-chart-content hide">
                            ola grafico 2
                            <div class="pie-chart"></div>
                            <div class="pie-chart-description"></div>
                        </div>
                        <div class="pie-chart-content hide">
                            ola tabela
                            <div class="pie-chart hide"></div>
                            <div class="pie-chart-description"></div>
                        </div>
                        <div class="bottom-graphic"></div>
                    </div>
                    <div class="bottom-content"></div>
                </div>
            </div>
        </div>
        <div></div>
    </div>
</body>
</html>