<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Multi Dropdown Select Menu </title>

    <script defer src="script.js"></script>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    
    <div class="select-container">
        <div class="select-btn">
            <div class="select-box-selected">
            </div>
            <span class="select-arrow-dwn">
                <i class="fas fa-chevron-down"></i>
            </span>
        </div>
        <ul class="select-list-items" id="select-list-items-id">
            <li class="select-item">
                <span class="select-checkbox">
                    <i class="fas fa-check check-icon"></i>
                </span>
                <span class="select-item-text">HTML</span>
            </li>
            <li class="select-item">
                <span class="select-checkbox">
                    <i class="fas fa-check check-icon"></i>
                </span>
                <span class="select-item-text">CSS</span>
            </li>
            <li class="select-item">
                <span class="select-checkbox">
                    <i class="fas fa-check check-icon"></i>
                </span>
                <span class="select-item-text">Javascript</span>
            </li>
        </ul>
    </div>

</body>
</html>