@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

body {
    background: #dee1e2;
    min-height: 100vh;
}

.container {
    margin: 100px;
}

.btn {
    color: white;
    min-height: 100px;
    min-width: 200px;
    border-radius: 25px;
    border-left: none;
    margin-left: 0;
    padding: 0 10px 0 10px;
    font-weight: 600;
    font-size: 25px;
    border: none;
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}

.btn:hover {
    cursor: pointer;
}

/* modal */
._modal_overlay {
    position: fixed;
    opacity: 0;
    transition: 600ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

._modal_overlay.active {
    pointer-events: all;
    opacity: 1;
}
 
/* spinner */
.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 10;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.center span {
    color: #737373;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}

@keyframes text {
    50%{
        color: white;
    }
}
