<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tooltip</title>

    <link rel="stylesheet" href="style.css">
    <script defer type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script defer nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>
<body>

    <div class="container">
        <span class="my-tooltip" data-tooltip="Tooltip Content">
            <ion-icon class="my-icon" name="trash-outline"></ion-icon>
        </span>
    </div>

</body>
</html>
